@page "/distance/add"
@inject AppDbContext dbContext
@inject AllowEditingService allowEditingService
@rendermode NoPrerenderServer

@if (message is not null)
{
    <div class="alert alert-primary">
        @message
    </div>
}

<h1>Toevoegen</h1>

<EditForm Model="distance" OnValidSubmit="OnSubmit">

    <label class="d-block mb-2">
        Aantal kilometers
        <InputNumber min="0" @bind-Value="distance.Kilometers" class="form-control"></InputNumber>
    </label>

    <label class="d-block mb-2">
        Start datum
        <input type="datetime-local" class="form-control" @bind="distance.StartedAt" />
    </label>

    <label class="d-block mb-2">
        Eind datum
        <input type="datetime-local" class="form-control" @bind="distance.EndedAt" />
    </label>

    <button type="submit" class="btn btn-success">
        Opslaan
    </button>

    <a href="/distance/" class="btn btn-outline-secondary">
        Terug
    </a>

</EditForm>

<datalist id="flavors">
    @foreach (var flavor in flavors)
    {
        <option value="@flavor" />
    }
</datalist>


@code {
    string[] flavors = [];

    bool isEditingAllowed = false;

    protected override async Task OnInitializedAsync()
    {
        isEditingAllowed = allowEditingService.IsEditingAllowed();
        if (isEditingAllowed is false)
        {
            message = "Aanpassen staat momenteel uit..";
        }

        flavors = await dbContext.IceCreamRecords.Select(i => i.Flavor).Distinct().ToArrayAsync();
    }

    string? message;

    Distance distance = new();

    async Task OnSubmit()
    {
        if (isEditingAllowed is false)
        {
            message = "Aanpassen staat momenteel nogsteeds uit..";
            return;
        }

        if (distance.StartedAt > distance.EndedAt)
        {
            message = "Eind datum mag niet voor de start datum liggen";
            return;
        }

        dbContext.Distances.Add(distance);
        await dbContext.SaveChangesAsync();

        message = $"afstand van {distance.Kilometers} kilometers opgeslagen!";

        distance = new();
    }
}
