@page "/distance/";
@using Microsoft.AspNetCore.Components.QuickGrid
@inject AppDbContext dbContext

<h1>Afstanden beheren</h1>

<a href="/distance/add" class="btn btn-success">Afstand toevoegen</a>

<QuickGrid Items="dbContext.Distances">
    <PropertyColumn Property="x => x.Kilometers"></PropertyColumn>
    <PropertyColumn Property="x => x.StartedAt" Title="Start datum"></PropertyColumn>
    <PropertyColumn Property="x => x.EndedAt" Title="Eind datum"></PropertyColumn>
    <TemplateColumn Context="x" Title="Aantal dagen">
        @x.AmountOfDays
    </TemplateColumn>
    <TemplateColumn Title="Eind Datum" Context="x">
        <a href="/distance/edit/@x.Id" class="btn btn-sm btn-outline-primary">Aapassen</a>
    </TemplateColumn>
</QuickGrid>

@code {

}
